{% extends 'base.html.twig' %}

{% block header_title %}<h1>Créer un utilisateur</h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <div>
        {{ form_start(form, {'action' : path('user_create')}) }}
            {{ form_label(form.username, 'Nom d\utilisateur', {'label_attr': {'class': 'form-label fw-bold'}}) }}
            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors( form.username) }}

             {% for passwordField in form.password %}
             <div class="mt-3 fw-bold">
                {{ form_label(passwordField, null, { 'attr': {'class': 'form-label'} }) }}
                {{ form_widget(passwordField, { 'attr': {'class': 'form-control'} }) }}
             </div>
            {% endfor %}

            {{ form_label(form.email, null, {'label_attr': {'class': 'form-label fw-bold mt-3'}}) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors( form.email) }}

            <button type="submit" class="btn btn-success float-end mt-3">Ajouter</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
